@keyframes hideIndex {
  0%{ opacity: 0; transform: translate(0, 50px) }
	100%{opacity: 1; transform: translate(0, 0) }
}

.demo-container {
  height: calc(100vh);
  width: calc(100vw);
  min-height: 1000px;
  min-width: 600px;
  margin-top: -8px;
  margin-left: -8px;
  background: #090920;
  overflow-x: hidden;
  .modal {
    // height: calc(100vh);
    // width: calc(100vw);
    // opacity: 0.8;
    .container {
      width: 500px;
      height: 300px;
      position: fixed;
      animation: hideIndex 0.3s;
      background:rgba(29,29,66,0.5);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      z-index: 9999;
      b:nth-of-type(1){
        color: #fff;
        position: relative;
        top: 20px;
        left: 20px;
      }
      b:nth-of-type(2){
        color: #fff;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
      .codeContainer {
        position: relative;
        height: 200px;
        width: 91%;
        background: #272a53;
        top: 20px;
        margin: 16px auto;
        > div:nth-of-type(1) {
          color: snow;
        text-align: left;
        padding: 10px;
        }
        > div:nth-of-type(2) {
          color: paleturquoise;
        text-align: left;
        padding: 10px;
        }
        > div:nth-of-type(3) {
          color: springgreen;
        text-align: left;
        padding: 10px;
        }
        > div:nth-of-type(4) {
          color: salmon;
        text-align: left;
        padding: 10px;
        }
      }
    }
  }

  .logo-area {
    height: 100px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    > div:nth-of-type(1) {
      width: 100px;
      height: 60px;
      color: #FFF;
      line-height: 60px;
      font-size: 1.4rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
      position: absolute;
      left: 20%;
      top: 0;
      bottom: 0;
      > div {
        position: absolute;
        width: 130px;
        height: 4px;
        margin: auto;
        left: -10px;
        top: 0;
        bottom: 0;
        transform: rotate(-1deg);
        background: linear-gradient(to right, #44dbf0, #ef306f);
        filter: opacity(0.6);
      }
    }
    > div:nth-of-type(2) {
      width: 100px;
      height: 60px;
      color: #FFF;
      line-height: 60px;
      font-size: 1.4rem;
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
      position: absolute;
      top: 0;
      right: calc(20% - 80px);
      bottom: 0;
      img {
        width: 100px;
        height: 70px;
        cursor: pointer;
        position: absolute;
        top: -13px;
      }
    }
    > div:nth-of-type(3) {
      width: 100px;
      height: 60px;
      color: #FFF;
      margin: auto;
      position: absolute;
      right: 20%;
      top: 0;
      bottom: 0;
      img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        cursor: pointer;
        background: #fff;
      }
      img:hover {
        animation: animate  3s linear infinite ;
        filter: opacity(50%);
      }
    }
  }
  .title-area {
    height: 150px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    h1 {
      font-size: 2rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
      color: #fff;
    }
    p {
      font-size: 1.2rem;
      color: #fff;
      font-weight: 300;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
  .component {
    width: 80%;
    min-height: 500px;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .item {
      width: 20%;
      height: 150px;
      position: relative;
    }
    .item:hover {

      background: #18193a;
    }
  }
}



::-webkit-scrollbar-track-piece {
	background-color:#090a1f;
  border-left:1px solid #090a1f;
  border-radius: 10px;
}
::-webkit-scrollbar {
	width:1px;
	height:1px;
}
::-webkit-scrollbar-thumb {
	background-color:#090a1f;
	background-clip:padding-box;
  border:1px solid #090a1f;
  border-radius: 10px;
	min-height:2px;
}


@keyframes animate {
  to {
    transform: rotate(360deg);
  }
}
